<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (exam(); as examRef) {
      <div>
        <h2 data-cy="examDetailsHeading"><span jhiTranslate="examManagerApp.exam.detail.title">Exam</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ examRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="examManagerApp.exam.name">Name</span></dt>
          <dd>
            <span>{{ examRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="examManagerApp.exam.supervisors">Supervisors</span></dt>
          <dd>
            @for (supervisors of examRef.supervisors; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/professor-details', supervisors.id, 'view']">{{ supervisors?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/exam', examRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
