<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sessionType(); as sessionTypeRef) {
      <div>
        <h2 data-cy="sessionTypeDetailsHeading"><span jhiTranslate="examManagerApp.sessionType.detail.title">Session Type</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sessionTypeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="examManagerApp.sessionType.name">Name</span></dt>
          <dd>
            <span>{{ sessionTypeRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/session-type', sessionTypeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
