<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-institute-heading" data-cy="InstituteCreateUpdateHeading" jhiTranslate="examManagerApp.institute.home.createOrEditLabel">
        Créer ou éditer un Institute
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="examManagerApp.institute.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="examManagerApp.institute.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let locationRef = editForm.get('location')!;
        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="examManagerApp.institute.location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
          @if (locationRef.invalid && (locationRef.dirty || locationRef.touched)) {
            <div>
              @if (editForm.get('location')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let logoRef = editForm.get('logo')!;
        <div class="mb-3">
          <label class="form-label" for="field_logo" jhiTranslate="examManagerApp.institute.logo">Logo</label>
          <div>
            @if (logoRef.value) {
              <img
                [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + logoRef.value"
                style="max-height: 100px"
                alt="institute"
              />
            }
            @if (logoRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(logoRef.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_logo"
              data-cy="logo"
              (change)="setFileData($event, 'logo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
          @if (logoRef.invalid && (logoRef.dirty || logoRef.touched)) {
            <div>
              @if (editForm.get('logo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phone" jhiTranslate="examManagerApp.institute.phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="examManagerApp.institute.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_website" jhiTranslate="examManagerApp.institute.website">Website</label>
          <input type="text" class="form-control" name="website" id="field_website" data-cy="website" formControlName="website" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_department" jhiTranslate="examManagerApp.institute.department">Department</label>
          <select
            class="form-control"
            id="field_department"
            data-cy="department"
            name="department"
            formControlName="department"
            [compareWith]="compareDepartment"
          >
            <option [ngValue]="null"></option>
            @for (departmentOption of departmentsSharedCollection; track $index) {
              <option [ngValue]="departmentOption">{{ departmentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_report" jhiTranslate="examManagerApp.institute.report">Report</label>
          <select
            class="form-control"
            id="field_report"
            data-cy="report"
            name="report"
            formControlName="report"
            [compareWith]="compareReport"
          >
            <option [ngValue]="null"></option>
            @for (reportOption of reportsSharedCollection; track $index) {
              <option [ngValue]="reportOption">{{ reportOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
